<%= @user.name %>

<%= link_to 'Follow', new_follow_path, method: :post  %>

<div class="row">
  <div class="col-3">
  <div class="card">
    <h2><%= @user.relationships.count %> Following</h2>
  </div>
</div>

<div class="col-3">
  <div class="card">
    <h2><%= @followers.count %> Followers</h2>
  </div>
</div>
</div>
